@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Mukta', sans-serif;
}

button.InfiniteCarouselArrow {
    background-color: white;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    box-shadow: 0 0 10px #00000070;
    position: absolute;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
button.InfiniteCarouselArrow.InfiniteCarouselArrowPrev {
    left: -9px;
}

button.InfiniteCarouselArrow.InfiniteCarouselArrowNext {
    right: -9px;
}
button.InfiniteCarouselArrow .InfiniteCarouselArrowIcon {
    display: inline-block;
    padding: 3px;
    border: solid #1f2937;
    border-width: 0 3px 3px 0;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

button.InfiniteCarouselArrow:hover {
    background-color: #059669;
}
button.InfiniteCarouselArrow:hover .InfiniteCarouselArrowIcon {
    border: solid #ffffff;
    border-width: 0 3px 3px 0;
}

/* Products Carousel */
.product-carousel .thumbs-wrapper.axis-vertical {
    display: flex;
    justify-content: center;
    align-items: center;
}
.carousel .thumb.selected,
.carousel .thumb {
    border: 1px solid #e5e7eb !important;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.carousel .thumb.selected,
.carousel .thumb:hover {
    border: 1px solid #059669 !important;
}
